<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./Bootstrap.php"
        colors="true"
        strict="false"
        syntaxCheck="false"
        verbose="true">
    <testsuite name="common-utils">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../src</directory>
        </whitelist>
    </filter>
    <php>
        <server name="SERVER_NAME" value="phpunit"/>
        <server name="APPLICATION_ENV" value="development"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="error_reporting" value="-1" />
    </php>
</phpunit>
